@import '../media';
@import '../structure';

.about {
  text-align: center;
  background-color: #f8f9f9;

  &-content {
    padding-top: 20px;
    padding-bottom: 60px;

    img {
      margin-bottom: 20px;
      width: 54px;
    }
  }

  &-images {
    padding-bottom: 10px;

    a {
      @include hover(0.25s, 0.7);
    }

    img {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

  }
}

@include tablet {
  .about {
    &-images {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 30px;

      img {
        margin: 0;
      }
    }
  }
}

@include desktop {
  .about .about-content {
    @include center-max-content(550px);
  }
}

@include desktop-wide {
  .about .about-images {
    @include center-max-content(1350px);
  }
}
