@import url(https://fonts.googleapis.com/css?family=Raleway:400,600|Nanum+Pen+Script);
h1, h2 {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-family: 'Nanum Pen Script', cursive;
  line-height: 75%;
  text-align: center;
  color: #313b36; }

h1 {
  font-size: 72px; }

h2 {
  font-size: 58px; }

h3 {
  font-size: 26px; }

p {
  line-height: 160%;
  color: #6a6b63;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

a {
  font-size: 16px;
  text-decoration: none; }

span, h3, h5, a {
  font-family: 'Raleway', sans-serif; }

.hero {
  position: relative;
  background-image: url(public/hero_bg.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .hero .block-overlay {
    background-color: #4e535c;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .hero .block-inner {
    position: relative; }
  .hero h1, .hero p {
    color: white; }
  .hero p {
    font-size: 18px; }

.about {
  text-align: center;
  background-color: #f8f9f9; }
  .about-content {
    padding-top: 20px;
    padding-bottom: 60px; }
    .about-content img {
      margin-bottom: 20px;
      width: 54px; }
  .about-images {
    padding-bottom: 10px; }
    .about-images img {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px; }

.adventure {
  text-align: center;
  position: relative;
  background-image: url(public/topography_bg.jpg); }
  .adventure .block-overlay {
    background-color: #313b36;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .adventure .block-inner {
    position: relative; }
  .adventure p, .adventure h3 {
    color: #f8f9f9;
    margin-top: 0;
    margin-bottom: 15px; }
  .adventure h2 {
    color: #d8d8d8;
    margin-top: 20px;
    margin-bottom: 30px; }
  .adventure h3 {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .adventure-sort {
    padding-top: 15px;
    padding-bottom: 15px; }
    .adventure-sort span {
      color: #d8d8d8;
      margin: 5px 8px;
      line-height: 1.5;
      padding-top: 2px;
      padding-bottom: 2px; }
      .adventure-sort span > b {
        color: #f8f9f9; }
    .adventure-sort span.active {
      border-bottom: 1px solid #FFF;
      color: white; }
  .adventure .card-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px; }
    .adventure .card-container img {
      width: 100%; }
    .adventure .card-container a {
      color: #FFF;
      padding: 10px 22px;
      border: 2px solid #fff;
      font-weight: 600;
      border-radius: 5px;
      text-transform: uppercase;
      margin-top: 10px;
      display: inline-block; }
    .adventure .card-container .card-inner, .adventure .card-container .card-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .adventure .card-container .card-overlay {
      background-color: rgba(215, 97, 63, 0.86); }
    .adventure .card-container > .card-inner {
      display: flex;
      align-items: center;
      justify-content: center; }

.why-us {
  background-image: url(public/grandcanyon_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .why-us div {
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12); }
    .why-us div a {
      color: #d7613f;
      font-weight: 600;
      text-transform: uppercase; }

.testimonials-review__text h3 {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #1b1b1b; }

.testimonials-review__contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px; }
  .testimonials-review__contact div {
    align-self: center;
    justify-self: start; }
  .testimonials-review__contact div:first-of-type {
    justify-self: end; }
  .testimonials-review__contact h5 {
    color: #9fa094;
    font-weight: normal;
    font-size: 14px; }
  .testimonials-review__contact p {
    font-size: 18px; }
  .testimonials-review__contact p, .testimonials-review__contact h5 {
    margin: 0; }
  .testimonials-review__contact img {
    width: 60px;
    border-radius: 50%; }

.book {
  background-color: #f2f2f2;
  text-align: center; }
  .book h3 {
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
    color: #1b1b1b; }
  .book a {
    display: inline-block;
    padding: 12px 45px;
    border-radius: 5px;
    background-color: #1b1b1b;
    color: #FFF;
    font-size: 18px;
    font-weight: bold; }

.block.info {
  padding: 0 30px; }

.info {
  background-color: #313b36; }
  .info p, .info h3 {
    color: #f8f9f9; }
  .info p {
    margin-top: 0;
    margin-bottom: 30px; }
  .info h3 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .info a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #d7613f;
    color: #FFF;
    font-size: 15px;
    font-weight: bold; }
  .info-content {
    padding-top: 70px;
    padding-bottom: 70px; }
  .info-image {
    height: 300px;
    margin-left: -30px;
    margin-right: -30px;
    background-position: center center;
    background-size: cover; }
  .info-image-1 {
    background-image: url(public/info1.jpg); }
  .info-image-2 {
    background-image: url(public/info2.jpg); }

.cta-primary {
  background-color: #d7613f;
  text-align: center; }
  .cta-primary h3 {
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff; }
  .cta-primary a {
    margin-top: 15px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 45px;
    border-radius: 5px;
    color: #1b1b1b;
    background-color: #FFF;
    font-size: 18px;
    font-weight: bold; }

.block {
  padding: 70px 30px; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  margin: 0; }


/*# sourceMappingURL=bundle.css.map*/