$tablet-width: 768px;
$tablet-wide-width: 1024px;
$desktop-width: 1280px;
$desktop-wide-width: 1440px;
$hd-width: 2560px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-wide {
  @media (min-width: #{$tablet-wide-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin desktop-wide {
  @media (min-width: #{$desktop-wide-width}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd-width}) {
    @content;
  }
}
